<app-header></app-header>
<div class="flex w-full h-full">
  <div class="w-1/6 ">
    <app-sidebar></app-sidebar>
    <div>Down</div>
  </div>


  <div class="w-5/6 flex-col">
    <div class="h-5/6">
      <!-- from child to mother compo using @Input decoratror -->
      <app-text-conversation [conversation]="conversationList"></app-text-conversation>
    </div>

    <div class="h-1/6 mb-1">
      <app-text-input (onSendButtonClicked)="addToUserConversation($event)" (onChatGPTRespond)="addToSystemConversation($event)"></app-text-input>
    </div>
  </div>
</div>
