<aside
  id="sidebar-component"
  class="bg-gray-800 text-white flex shadow-black shadow-sm"
>
  <!-- Sidebar Content -->
  <div class="h-full flex flex-col">
    <!-- Add Button and Conversations -->
    <div>
      <!-- Button to add a new conversation -->
      <div
        class="bg-gray-500 text-white m-4 px-4 py-2 rounded-md hover:bg-gray-700"
      >
        <button class="mr-1 px-2 font-semibold" (click)="toggleSidebar()">
          New Conversation
        </button>
        <fa-icon class="ml-1 px-2 text-lg" [icon]="faPlus"></fa-icon>
      </div>
      <!-- List of conversations -->
      <div class="overflow-y-auto ml-1">
        <ul class="list pt-2">
          @for (item of conversationList; track $index) {
          <li class="border-b border-gray-700">
            <a
              href="#"
              class="block px-4 py-2 no-underline hover:bg-gray-700"
              >{{ item }}</a
            >
          </li>
          }
        </ul>
      </div>
    </div>

<!-- empty space -->
<div id="emptyDiv"></div>

<div>
  <!-- user info -->
</div>

<div class="translate" style="margin-top: auto">
  <div
    class="ant-typography sider-footer css-w8mnev"
    style="margin: 8px 12px; display: flex; gap: 7px; white-space: nowrap"
  >
    <a>Home</a><a>Account</a><a>FAQ</a><a>Feedback</a>
  </div>
</div>


  </div>


</aside>
